# Variáveis de ambiente (Segurança)
.env

# Ignorar a pasta do ambiente virtual Python
venv/
__pycache__/
*.pyc

# Ignora a pasta do histórico do projeto
.history

# Ignora a pasta de configuração local do Streamlit
.streamlit

# Ignora arquivos ocultos de sistema operacional (Mac/Windows)
.DS_Store
Thumbs.db